/*
This is a comment. The stuff below is from the old css sheet
 */
 /*body {
     margin: 60px auto;
     width: 70%;
 }
 nav ul, footer ul {
     font-family:'Helvetica', 'Arial', 'Sans-Serif';
     padding: 0px;
     list-style: none;
     font-weight: bold;
 }
 nav ul li, footer ul li {
     display: inline;
     margin-right: 20px;
 }
 a {
     text-decoration: none;
     color: #999;
 }
 a:hover {
     text-decoration: underline;
 }
 h1 {
     font-size: 3em;
     font-family:'Helvetica', 'Arial', 'Sans-Serif';
 }
 p {
     font-size: 1.5em;
     line-height: 1.4em;
     color: #333;
 }
 footer {
     border-top: 1px solid #d5d5d5;
     font-size: .8em;
 }

 ul.posts {
     margin: 20px auto 40px;
     font-size: 1.5em;
 }

 ul.posts li {
     list-style: none;
 }*/


/*
This is the new stuff that I'm working on.
*/
html {
  color: #990033;
  background-color: #99ffcc;
}

p {
color: #990033;
background-color: #99ffcc;
border: 1 px solid #994059;
}

.links-list a {
  background-color: #994059;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
}

.links-list a:hover {
  background-color: #990d3b;
  color: white;
}

body {
background-color: #994059;
color: white;
font-family:
margin: 5em;
  pading: 0 3em;
}

ul.nav {
  list-style-type: none
}
 ul, ol {
   margin: 3px
   padding: 5px
 }

header {

}

main {

}
