
:root {
--lightblue: #99ffcc; /* sky blue */
--darkpurple: #660066; /* deep purple */
--midpurple: #7d7394; /* medium between purple and blue */
--midblue: #8cbfb2; /* blue with a bit of purple */
}

/*
This is the new stuff that I'm working on.
*/
html {
  background-color: white;
  font-family: "New Century Schoolbook";
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to left, rgba(255,255,250,1), rgba(255,255,255,0) 80%, rgba(255,255,250,1)), url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

body {
  margin: 0 auto;
  color: var(--darkpurple);
  width: 60%;
  height: 100vh;
  top: 0;
  padding: 10px;
}

nav ul {
  padding: 5px;
  font-size: 10px;
  width: 100%;
  list-style: none;
  display: block;
  font-weight: bold;
  text-align: left;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: var(--darkpurple);

}

ul {
  padding: 5px;
  font-size: 10px;
  width: 100%;
  list-style: none;
  display: block;
  font-weight: bold;
  text-align: left;
}

 ul li {
display: inline;
margin-right: 15px;
 }

 footer ul {
  bottom: 0;
  height: 2.5rem;
  text-align: right;
 }

footer {
  position: fixed;
  bottom: 0;
  width: 70%;
  margin: 0 auto;
}

a {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  display: block
  font-size: 2em;
}
