:root {
--lightblue: #99ffcc; /* sky blue */
--darkpurple: #660066; /* deep purple */
--midpurple: #7d7394; /* medium between purple and blue */
--midblue: #8cbfb2; /* blue with a bit of purple */
}

/*
This is the new stuff that I'm working on.
*/
html {
  background-color: var(--lightblue);
  font: 'Lucida Console', 'Monaco', 'monospace';

}

body {
  height: 100%;
  width: 70%; 
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
